* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #e5e9a3;
  overflow: hidden;
}

h1 {
  color: #1e185f;
}

span {
  position: absolute;
  font-size: 3vw;

  cursor: pointer;
}

.container {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  width: 600px;
  height: 600px;

  background-color: #5d704f;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(16n + 2),
.cell:nth-child(16n + 4),
.cell:nth-child(16n + 6),
.cell:nth-child(16n + 8),
.cell:nth-child(16n + 9),
.cell:nth-child(16n + 11),
.cell:nth-child(16n + 13),
.cell:nth-child(16n + 15) {
  background-color: #afb981;
}

/*  */
.white-piece {
  color: #1e185f;
}

.black-piece {
  color: #1e185f;
}

/* Animation */
h1 {
  animation: heading-rotate 3s linear 1.4s normal none;
}
@keyframes heading-rotate {
  0% {
    transform-origin: 0% 0%;
  }
  10% {
    transform: rotate(-180deg);
  }
  100% {
  }
}

.disappear {
  animation: disappear 3s linear 1.5s normal none;
}
@keyframes disappear {
  0% {
  }
  10% {
    opacity: 0;
  }
  100% {
  }
}

.disappear-fast {
  animation: disappear-fast 2.5s linear 0s normal none;
}
@keyframes disappear-fast {
  0% {
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.black-king {
  animation: black-king 3s linear 1s normal none;
}
@keyframes black-king {
  0% {
  }
  10% {
    transform: translate(0%, 100%);
  }
  15% {
    transform: translate(0%, -1000%);
  }
  100% {
  }
}

.pawn-1 {
  animation: pawn-1 3s linear 1.3s normal none;
}

@keyframes pawn-1 {
  0% {
  }
  10% {
    transform: translate(-500%, 0);
  }
  100% {
  }
}

.pawn-2 {
  animation: pawn-2 3s linear 1.3s normal none;
}

@keyframes pawn-2 {
  0% {
  }
  10% {
    transform: translate(500%, 0);
  }
  100% {
  }
}

/*  */
.king-white-move {
  animation: king-white-move 2s linear 0.3s normal none;
}

@keyframes king-white-move {
  0% {
  }
  10% {
    transform: translate(0, 90%);
  }
  100% {
    transform: translate(0, 90%);
  }
}

.pawn-white-move {
  animation: pawn-white-move 2s linear 0.3s normal none;
}

@keyframes pawn-white-move {
  0% {
  }
  10% {
    transform: translate(0, 190%);
  }
  100% {
    transform: translate(0, 190%);
  }
}

.bishop-white-move {
  animation: bishop-white-move 2s linear 0.3s normal none;
}

@keyframes bishop-white-move {
  0% {
  }
  10% {
    transform: translate(390%, 290%);
  }
  100% {
    transform: translate(390%, 290%);
  }
}

.bishop-right-white-move {
  animation: bishop-right-white-move 2s linear 0.3s normal none;
}

@keyframes bishop-right-white-move {
  0% {
  }
  10% {
    transform: translate(-390%, 290%);
  }
  100% {
    transform: translate(-390%, 290%);
  }
}

.knight-white-move {
  animation: knight-white-move 2s linear 0.3s normal none;
}

@keyframes knight-white-move {
  0% {
  }
  10% {
    transform: translate(130%, 190%);
  }
  100% {
    transform: translate(130%, 190%);
  }
}

/*  */
/*  */
.king-black-move {
  animation: king-black-move 2s linear 0.3s normal none;
}

@keyframes king-black-move {
  0% {
  }
  10% {
    transform: translate(0, -90%);
  }
  100% {
    transform: translate(0, -90%);
  }
}

.pawn-black-move {
  animation: pawn-black-move 2s linear 0.3s normal none;
}

@keyframes pawn-black-move {
  0% {
  }
  10% {
    transform: translate(0, -190%);
  }
  100% {
    transform: translate(0, -190%);
  }
}

.bishop-right-black-move {
  animation: bishop-right-black-move 2s linear 0.3s normal none;
}

@keyframes bishop-right-black-move {
  0% {
  }
  10% {
    transform: translate(390%, -290%);
  }
  100% {
    transform: translate(390%, -290%);
  }
}

.bishop-black-move {
  animation: bishop-black-move 2s linear 0.3s normal none;
}

@keyframes bishop-black-move {
  0% {
  }
  10% {
    transform: translate(-390%, -290%);
  }
  100% {
    transform: translate(-390%, -290%);
  }
}

.knight-black-move {
  animation: knight-black-move 2s linear 0.3s normal none;
}

@keyframes knight-black-move {
  0% {
  }
  10% {
    transform: translate(-130%, -190%);
  }
  100% {
    transform: translate(-130%, -190%);
  }
}
